<div class="page-header">
  <h1>Reportes</h1>
</div>
<div class="jumbotron text-center" ng-show="reporte.processing">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>Cargando lista de reportes...</p>
</div>

<form class="form-horizontal" ng-submit="reporte.fechaReporte()" ng-if="reporte.type == 'fecha'">
  <div class="form-group ">
    <label class="col-sm-2 control-label ">Fecha</label>
    <div class="col-sm-6 ">
      <input type="text " class="form-control " ng-model="reporte.reporteData.fecha">
    </div>
  </div>
  <div class="form-group ">
    <button type="submit " class="btn btn-success btn-lg btn-block ">Buscar</button>
  </div>
</form>

<table class="table table-bordered table-striped" ng-show="reporte.reportes">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Area</th>
      <th>Nivel</th>
      <th>Variable</th>
      <th>Mínimo</th>
      <th>Máximo</th>
      <th>Promedio</th>
      <th>Variación</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="rep in reporte.reportes| pagination: (reporte.currentPage - 1) * reporte.pageSize | limitTo: reporte.pageSize">
      <td>{{ rep.fehcha }}</td>
      <td>{{ rep.area }}</td>
      <td>{{ rep.nivel }}</td>
      <td>{{ rep.tipoReporte }}</td>
      <td>{{ rep.valorMin }}</td>
      <td>{{ rep.valorMax }}</td>
      <td>{{ rep.valorMedio }}</td>
      <td>{{ rep.variacion }}</td>
    </tr>
  </tbody>
</table>
<ul uib-pagination total-items="reporte.reportes.length" items-per-page="reporte.pageSize " ng-model="reporte.currentPage "></ul>
