<div class="page-header">
  <h1>Mi Perfil</h1>
</div>

<form class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-2 control-label">Nombre</label>
    <label class="col-sm-6 control-label">{{ main.user.name}}</label>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Usuario</label>
    <label class="col-sm-6 control-label">{{ main.user.username}}</label>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <label class="col-sm-6 control-label">{{ main.user.email}}</label>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Rol del usuario</label>
    <label class="col-sm-6 control-label">{{ main.user.rol}}</label>
  </div>

  <a ng-href="/users/{{ main.user.id}}" class="btn btn-danger">Edit</a>

</form>

<div class="row show-hide-message" ng-show="user.message">
  <div class="col-sm-6 col-sm-offset-2">

    <div class="alert alert-info">
      {{ user.message }}
    </div>

  </div>
</div>
